.Rproj.user
.Rhistory
.RData
.Ruserdata
counts_analysis_v2_1.nb.html
Random
Mack RNA Seq.Rproj
.DS_Store
pathviews
.lintr
Archived (Benji)
gene_info.gz 
gene2accession.gz 
gene2go.gz 
gene2pubmed.gz 
gene2refseq.gz 
idmapping_selected.tab.gz
NCBI.sqlite
.vscode